<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<appender name="RACES_LOG" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm} - %m%n</pattern>
		</encoder>
		<file>races.log</file>
	</appender>
	<logger name="pl.gdela.timekeeper.domain.Chronicler" level="INFO">
		<appender-ref ref="RACES_LOG"/>
	</logger>
</configuration>
