body {
    margin-top: 10px;
}

#race-log {
	margin-top: 5px;
}

#race-log td+td, #race-log th+th {
	text-align: right;
}

#race-log .total {
	font-weight: bold;
}

#history {
	margin-top: 20px;
}

#history td, #history th {
	font-size: 13px;
}

#history td+td, #history th+th {
	text-align: right;
}

#history tr.good {
	background-color: #fffbd0;
}

#history tr.best {
	background-color: #ffe0c0;
}

#history td.best {
	font-weight: bold;
}
